---
layout: default
title: BLOG
description: What's in and around the i2 Browser
---
        <!-- Header -->
        <header id="header">
                <img style="width: 20%;" src="assets/img/i2browserwhite.svg" alt="Logo of i2">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
        </header>
        <div id="main">
            <section id="content" class="main">
                
                {% for post in paginator.posts %}

                <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        {% if post.header-img != "/images/posts/pic04.jpg" %}
                        <img class="post-image img-responsive" src="{{ post.header-img }}" alt="" />
                        {% endif %}
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
                    {{ post.excerpt }}
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                {% if paginator.total_pages > 1 %}
                <ul class="pager">
                    {% if paginator.previous_page %}
                    <li class="previous">
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
                    </li>
                    {% endif %}
                    {% if paginator.next_page %}
                    <li class="next">
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </section>
        </div>
